body {
    margin: 0;
}

.wrapper{
    height: 600px;
    width: 600px;
    margin: auto;
    margin-top: 75px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.box-first {
    height: 150px;
    width: 600px;
    background-color: #FFFF00;
}

.box-second {
    height: 150px;
    width: 600px;
}

.box-second .left {
    height: 150px;
    width: 200px;
    background-color: #33FFFF;
    float: left;
}

.box-second .middle {
    height: 150px;
    width: 200px;
    background-color: #FF0000;
    float: left;
}

.box-second .right {
    height: 150px;
    width: 200px;
    background-color: #0000FF;
    float: left;
}

.box-third {
    height: 150px;
    width: 600px;
}

.box-third .left {
    height: 150px;
    width: 450px;
    background-color: #00FF00;
    float: left;
}

.box-third .right {
    height: 150px;
    width: 150px;
    background-color: #FF00FF;
    float: left;
}

.box-fourth {
    height: 150px;
    width: 600px;
    background-color: #33FFFF;
}