@media screen and (max-width: 479px) {
    .header {
        height: 200px;
        width: 200px;
        position: relative;
    }

    .container{
        height: 160px; 
        width: 60px;
        position: absolute;
        left: 70px; 
        display: block;
    }
    
    .content .left{
        height: 100px;
        width: 200px;
        float:none;
    }
    .content .right{
        width: 200px;
        float: none;
    }

    .long-container {
        top: 20px;
        left: 30px;
    }

    .footer {
        width: 200px;
    }
}