body {
    margin: 0;
}

.wrapper{
    height: 450px;
    width: 400px;
    margin: auto;
}

.header {
    height: 100px;
    background-color: #141f40;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.content .left{
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
    float: left;
}

.content .right {
    width: 250px;
    float: right;
}

.content-left  {
    height: 150px;
    width: 150px;
    float: right;
}

.upper{
    height: 50px;
    width: 150px;
    background-color: #dbd400;
}

.bottom{
    height: 100px;
    width: 150px;
    background-color: #0093b7;
}

.content-right {
    height: 150px;
    width: 100px;
    background-color: #ff9e6b;
    float: right;
}

.content-bottom{
    height: 100px;
    width: 250px;
    background-color: #8c2727;
    float: right;
}

.footer{
    height: 100px;
    background-color: #d98d30;
}